<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>kdl-open-recent download</string>
	<key>connections</key>
	<dict>
		<key>53B78B91-9B27-4F31-BB1A-81FF341A5AAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>621E3B5D-1B3C-4EAF-BFD3-2828133E038C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kailey Lampert</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Recent Download</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openrecent</string>
				<key>text</key>
				<string>Open Recent Download</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53B78B91-9B27-4F31-BB1A-81FF341A5AAE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>cd ~/Desktop/
open `ls -1t | head -n 1`</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>621E3B5D-1B3C-4EAF-BFD3-2828133E038C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>53B78B91-9B27-4F31-BB1A-81FF341A5AAE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>621E3B5D-1B3C-4EAF-BFD3-2828133E038C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>trepmal.com/alfredapp</string>
</dict>
</plist>
